#VGA
NET "vga_red" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_green" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_blue" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_hsync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_vsync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

#STANDART 50MHZ CLOCK
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

#KEYBOARD CONSTRAINS
NET "PS2_CLK" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_DATA" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#MUSIC OUTPUT

# DAC inputs and outputs
#NET "SPI_MISO"	LOC = N10	| IOSTANDARD = LVCMOS33 ;
#NET "SPI_MOSI" LOC = T4 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "SPI_SCK" 	LOC = U16 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "DAC_CS" 	LOC = N8 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "DAC_CLR" 	LOC = P8 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# other SPI interface to disable
#NET "SF_CE0" 	LOC = D16 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
#NET "SPI_SS_B" 	LOC = U3 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;
#NET "FPGA_INIT_B" LOC = T3 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;
#NET "AD_CONV" 	LOC = P11 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;
#NET "AMP_CS" 	LOC = N7 	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;